html {
    background-color: #161616;
    --primary: #8484dc;
    --offwhite: #d8d8e4;
    font-family: Rubik;
    color: var(--offwhite);
}

body {
    margin: 0;
}

h1 {
    font-size: 4em;
    text-align: center;
}

#logo {
    display: grid;
    grid-template-areas: "a . b . c" "d . . . e" "f . . . g" "h i . j k" "l . m . n";
    grid-auto-columns: max-content;
    justify-content: center;
    padding: 4em;
    --logo-size: 20em;
}

#logo-section {
    background: radial-gradient(circle, #0c0c0c 0%, #161616 100%);
    position: sticky;
    top: -1px;
    z-index: 1;
}

#logo .logo-cell {
    box-sizing: border-box;
    aspect-ratio: 1;
    height: calc(var(--logo-size)/5);
    border: inset calc(var(--logo-size)/200) var(--primary);
    box-shadow: 0px 0px 0px calc(var(--logo-size)/200) var(--primary);
    background: linear-gradient( 135deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.2) 33%, rgba(132, 132, 220, 1) 50%, rgb(97 97 173) 100%);
    transition: 350ms;
    background-position: 0% 0%;
    background-size: 300% 300%;
    cursor: pointer;
}

#logo .logo-cell:hover,
#logo .logo-cell:active {
    background-position: 100% 100%;
    transform: scale(1.3);
    border: none;
    box-shadow: 0px 0px 0px 0px var(--primary);
}

.logo-cell .cell-content {
    background: radial-gradient( circle, rgba(255, 255, 255, 0.2) 9%, transparent 14%);
    background-size: calc(var(--logo-size)/30) calc(var(--logo-size)/30);
    height: 100%;
    width: 100%;
    transition: 350ms;
    background-position: -0% 0%;
}

.logo-cell:hover .cell-content {
    background-position: -20% 0%;
}

.page-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 2em 0 2em 0;
    align-items: center;
}

.page-row.dark {
    background-color: rgba(0, 0, 0, 0.1);
}

.page-row p {
    width: 50%;
    padding: 1em;
    text-align: center;
}

#mug-mash h2 {
    background-image: linear-gradient(45deg, rgba(142, 228, 175, 1) 0%, rgba(92, 219, 149, 1) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 3em;
    margin: auto;
    transition: 360ms;
    text-align: center;
}

#mug-mash h2:hover {
    transform: scale(1.2);
}

#mug-mash h2 a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: transparent;
}

.svg-link {
    cursor: pointer;
    margin: 1em;
}

.svg-link path {
    fill: rgb(196, 196, 196);
}

.svg-link:hover path {
    fill: white;
}

img.svg-link {
    filter: brightness(76.86%);
}

img.svg-link:hover {
    filter: brightness(100%);
}

@media (orientation: portrait) {
    .page-row {
        flex-direction: column;
    }
    .page-row p {
        width: auto;
        margin: 1em;
    }
}