<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link rel="stylesheet" href={% static "/basestyle.css" %}>
    <title>Title</title>
</head>

<body>
    <div id="sidebar">
        <ul>
            <li><a href="/">Sign In</a></li>
            <li><a href="#">Rank</a></li>
            <li><a href="#">View Rankings</a></li>
            <li><a href="#">Contribution Leaderboard</a></li>
        </ul>
    </div>

    <div id="content">
        <h1>Header</h1>
    </div>
</body>

</html>