.card {
    --size: 20vw;
    display: grid;
    grid-template-columns: var(--size);
    grid-template-areas: "image" "stats-overlap" "stats";
    grid-template-rows: auto calc(var(--size)/22) auto;
    border-radius: calc(var(--size)/22);
    background: #ffffff;
    box-shadow: calc(var(--size)/30) calc(var(--size)/30) calc(var(--size)/60) rgba(0, 0, 0, 0.2);
    font-family: 'Roboto';
    text-align: center;
    width: fit-content;
    transition: 0.2s;
    cursor: pointer;
}

.card-image {
    grid-area: image;
    border-radius: calc(var(--size)/22);
    width: var(--size);
    background-size: cover;
    grid-area: image / image / stats-overlap / stats-overlap;
}

.card-image img {
    width: inherit;
    visibility: hidden;
}

.with-stats .card-image {
    border-radius: calc(var(--size)/22) calc(var(--size)/22) 0 0;
}

.card-stats {
    grid-area: stats;
    border-radius: calc(var(--size)/22);
    background: linear-gradient(0deg, rgb(232, 246, 255) 0%, white 100%);
    color: rgb(15, 37, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    grid-area: stats-overlap / stats-overlap / stats /stats;
}

.with-stats .card-stats {
    display: block;
}

.card-stats .elo {
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 20px;
}

.card-stats .name {
    font-size: 150%;
    font-weight: 500;
    padding: 15px 5px 5px 5px;
    font-family: 'Roboto Condensed', sans-serif;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: calc(var(--size)/20) calc(var(--size)/20) calc(var(--size)/60) rgba(0, 0, 0, 0.1);
}

.card:hover {
    border-top: white;
}

.cards {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: " . . . . ." " . cardOne . cardTwo ." " . . . . .";
}

@media only screen and (orientation: portrait) {
    .card {
        --size: 55vw;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 2fr 0.3fr 2fr 0.2fr;
        grid-template-areas: " . . ." " . cardOne ." " . . . " " . cardTwo ." " . . . ";
    }
}