body {
    margin: 0;
    background: rgb(190 250 255);
    background: linear-gradient(0deg, rgb(171, 231, 237) 0%, rgb(235, 251, 252) 100%) fixed no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.footer {
    grid-area: footer;
    justify-content: center;
    margin: auto;
}

.footer h2 {
    color: rgb(21, 22, 22);
}

.profilepage {
    display: grid;
}