{% extends "listpage.html" %} {% load static %} {% block headextras %}
<link rel="stylesheet" href={% static "/mugrank/viewpage.css" %}> {% endblock headextras %} {% block listname %}Mug Mash{% endblock listname %} {% block content %}
<div class="viewbody">
    <div class="mugs">
        <h2>{{mugList.name}}</h2>
        <table>
            {% for mug in orderedMugs %}
            <tr>
                <td>{{mug.name}}
                    <img src={{mug.image_url}}></img>
                </td>
                <td>{{mug.elo}}</td>
            </tr>
            {% empty %}
            <p>There are no mugs in this list.</p>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}