{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Awards{% endblock %}</title>

    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'fauxcademy/css/base.css' %}">
    {% block extra_css %}{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>
    <div class="app-shell">

        {% block sidebar %}
        {% endblock %}

        <main class="main-content">
            {% block content %}{% endblock %}
        </main>

    </div>

    <div id="modal" class="modal hidden">
        <div class="modal-backdrop"></div>

        <div class="modal-content" id="modal-content">
            <!-- dynamic content goes here -->
        </div>
    </div>

    {% block outer-content %}{% endblock %}
</body>

<script>
lucide.createIcons({
    attrs: {
        'stroke-width': 1.5
    }
});
</script>

<script type="module" src="{% static 'fauxcademy/js/pages/base.js' %}"></script>

</html>
