{% extends "subpage.html" %} {% load static %} {% block title%} Sketches {% endblock %}{% block head %}
<link rel="stylesheet" href={% static "/sketches.css" %}> {% endblock %} {% block body %}


<div class="sketches-container">
    {% for sketch in sketches %}
    <div class="sketch-card" onclick="location='{{ sketch.templateName }}'">
        <div class="card-img" style="background-image: url('{% static sketch.imagePath %}');">
        </div>
        <p>{{ sketch.name }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}